<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">   

    <title>老同学通讯录</title>
    
    <link rel="stylesheet" type="text/css" href="../resources/js/libs/jquery-easyui-1.5.1/themes/default/easyui.css"> 
    <link rel="stylesheet" type="text/css" href="../resources/js/libs/jquery-easyui-1.5.1/themes/icon.css">
    
    <link rel="stylesheet" type="text/css" href="../resources/css/alumni.css"> 
    
    <script type="text/javascript" src="../resources/js/libs/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../resources/js/libs/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../resources/js/libs/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../resources/js/alumni/core/core.js"></script>
    <script type="text/javascript" src="../resources/js/alumni/core/consts.js"></script>
    <script type="text/javascript" src="../resources/js/alumni/mainpage/mainpage.js"></script>
    <script type="text/javascript" src="../resources/js/alumni/person/person-list.js"></script>
    
    <body class="easyui-layout">
        <div data-options="region:'north',split:false,border:false" style="height:60px;">
           2001级地理科学通讯录
        </div>
        <div id="content-div" data-options="region:'center',split:false" style="padding:5px"></div>
        <div  data-options="region:'south',split:false" style="height:30px;"></div>
    </body>
</html>